/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/pointing.h>

#define WIN              0
#define LINUX            1
#define MAC              2
#define NUMSYM           3
#define MEDIA            4
#define LINUX_MEDIA      5
#define LINUX_SUPER_NAV  6
#define FN               7

/ {
    combos {
        compatible = "zmk,combos";

        /*
         * Corne position map:
         *
         *  0  1  2  3  4  5       6  7  8  9 10 11
         * 12 13 14 15 16 17      18 19 20 21 22 23
         * 24 25 26 27 28 29      30 31 32 33 34 35
         *           36 37 38      39 40 41
         */

        /*
         * Windows and Linux editing combos:
         *
         * Z + X = Undo
         * X + C = Copy
         * C + V = Paste
         * V + B = Redo
         */
        ctrl_undo {
            timeout-ms = <40>;
            key-positions = <25 26>;
            bindings = <&kp LC(Z)>;
            layers = <WIN LINUX>;
        };

        ctrl_copy {
            timeout-ms = <40>;
            key-positions = <26 27>;
            bindings = <&kp LC(C)>;
            layers = <WIN LINUX>;
        };

        ctrl_paste {
            timeout-ms = <40>;
            key-positions = <27 28>;
            bindings = <&kp LC(V)>;
            layers = <WIN LINUX>;
        };

        ctrl_redo {
            timeout-ms = <40>;
            key-positions = <28 29>;
            bindings = <&kp LC(LS(Z))>;
            layers = <WIN LINUX>;
        };

        /* macOS editing combos. */
        mac_undo {
            timeout-ms = <40>;
            key-positions = <25 26>;
            bindings = <&kp LG(Z)>;
            layers = <MAC>;
        };

        mac_copy {
            timeout-ms = <40>;
            key-positions = <26 27>;
            bindings = <&kp LG(C)>;
            layers = <MAC>;
        };

        mac_paste {
            timeout-ms = <40>;
            key-positions = <27 28>;
            bindings = <&kp LG(V)>;
            layers = <MAC>;
        };

        mac_redo {
            timeout-ms = <40>;
            key-positions = <28 29>;
            bindings = <&kp LG(LS(Z))>;
            layers = <MAC>;
        };

        /*
         * Colemak arrow combos:
         *
         * K + M = Up
         * L + U = Right
         * H + N = Left
         * J + L = Down
         */
        arrow_up {
            timeout-ms = <40>;
            key-positions = <30 31>;
            bindings = <&kp UP>;
            layers = <WIN LINUX MAC>;
        };

        arrow_right {
            timeout-ms = <40>;
            key-positions = <7 8>;
            bindings = <&kp RIGHT>;
            layers = <WIN LINUX MAC>;
        };

        arrow_left {
            timeout-ms = <40>;
            key-positions = <18 19>;
            bindings = <&kp LEFT>;
            layers = <WIN LINUX MAC>;
        };

        arrow_down {
            timeout-ms = <40>;
            key-positions = <6 7>;
            bindings = <&kp DOWN>;
            layers = <WIN LINUX MAC>;
        };

        /*
         * Base punctuation combo:
         * M + , = \
         *
         * Corne keeps its dedicated / key in the outer column.
         */
        backslash_combo {
            timeout-ms = <40>;
            key-positions = <31 32>;
            bindings = <&kp BSLH>;
            layers = <WIN LINUX MAC>;
        };

    };

    macros {
        /* FN actions which automatically leave the toggled FN layer. */
        fn_bt_clear: fn_bt_clear {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&bt BT_CLR>, <&tog FN>;
        };

        fn_bt_0: fn_bt_0 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&bt BT_SEL 0>, <&tog FN>;
        };

        fn_bt_1: fn_bt_1 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&bt BT_SEL 1>, <&tog FN>;
        };

        fn_bt_2: fn_bt_2 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&bt BT_SEL 2>, <&tog FN>;
        };

        fn_bt_3: fn_bt_3 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&bt BT_SEL 3>, <&tog FN>;
        };

        fn_bt_4: fn_bt_4 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&bt BT_SEL 4>, <&tog FN>;
        };

        fn_f2: fn_f2 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp F2>, <&tog FN>;
        };

        fn_f5: fn_f5 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp F5>, <&tog FN>;
        };

        fn_f11: fn_f11 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp F11>, <&tog FN>;
        };

        fn_f12: fn_f12 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp F12>, <&tog FN>;
        };
    };

    behaviors {
        /* Space/Shift and Enter/Shift thumb behavior. */
        thumb_mt: thumb_mod_tap {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;

            flavor = "balanced";
            tapping-term-ms = <200>;

            bindings = <&kp>, <&kp>;
        };

        /*
         * Generic layer-tap behavior retained for possible future use.
         *
         * First argument  = layer activated while held
         * Second argument = key sent when tapped
         */
        num_lt: num_layer_tap {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;

            flavor = "balanced";
            tapping-term-ms = <200>;

            bindings = <&mo>, <&kp>;
        };

        /*
         * NumSym thumb:
         *
         * Tap  = toggle NumSym
         * Hold = momentary NumSym
         */
        numsym_toggle_hold: numsym_toggle_hold {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;

            flavor = "balanced";
            tapping-term-ms = <200>;
            quick-tap-ms = <150>;

            bindings = <&mo>, <&tog>;
        };

        /*
         * Comma:
         * tap  = ,
         * hold = ?
         */
        comma_hold_tap: comma_hold_tap {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;

            flavor = "tap-preferred";
            tapping-term-ms = <200>;
            quick-tap-ms = <150>;
            require-prior-idle-ms = <100>;

            bindings = <&kp>, <&kp>;
        };


        under_dance: under_dance {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;

            tapping-term-ms = <175>;
            bindings = <&kp MINUS>, <&kp UNDER>;
        };


        dollar_dance: dollar_dance {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;

            tapping-term-ms = <250>;
            bindings = <&kp CARET>, <&kp DLLR>;
        };

        /*
         * NumSym punctuation:
         * tap        = !
         * double tap = ?
         */
        exclaim_dance: exclaim_dance {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;

            tapping-term-ms = <175>;
            bindings = <&kp EXCL>, <&kp QMARK>;
        };

        /*
         * Linux Super navigation:
         * single tap = Super + Arrow
         * double tap = Super + Shift + Arrow
         */
        super_down_dance: super_down_dance {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <175>;
            bindings = <&kp LG(DOWN)>, <&kp LG(LS(DOWN))>;
        };

        super_right_dance: super_right_dance {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <175>;
            bindings = <&kp LG(RIGHT)>, <&kp LG(LS(RIGHT))>;
        };

        super_left_dance: super_left_dance {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <175>;
            bindings = <&kp LG(LEFT)>, <&kp LG(LS(LEFT))>;
        };

        super_up_dance: super_up_dance {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <175>;
            bindings = <&kp LG(UP)>, <&kp LG(LS(UP))>;
        };

        /*
         * Period:
         * tap  = .
         * hold = !
         */
        dot_hold_tap: dot_hold_tap {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;

            flavor = "tap-preferred";
            tapping-term-ms = <150>;
            quick-tap-ms = <100>;
            require-prior-idle-ms = <100>;

            bindings = <&kp>, <&kp>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        /*
         * Corne Colemak-DH-like Windows layer:
         *
         * ESC   Q W F P G    J L U Y '   BSPC
         * TAB   A R S T D    H N E I O   DEL
         * LCTRL Z X C V B    K M , . /   ;
         *
         * Thumbs:
         * GUI  NumSym toggle/hold  Space/Shift
         * Enter/Shift  GUI/NumSym  FN
         */
        win_layer {
            display-name = "Win";

            bindings = <
&kp ESC    &kp Q         &kp W         &kp F          &kp P           &kp G
&kp J      &kp L         &kp U         &kp Y          &kp SQT         &kp BSPC

&kp TAB    &kp A         &mt LALT R    &mt LCTRL S    &lt MEDIA T     &kp D
&kp H      &lt MEDIA N   &mt RCTRL E   &mt RALT I     &kp O           &kp DEL

&kp LCTRL  &kp Z         &kp X         &kp C          &kp V           &kp B
&kp K      &kp M         &comma_hold_tap QMARK COMMA  &dot_hold_tap EXCL DOT
&kp FSLH   &kp SEMI

                         &kp LGUI
                         &numsym_toggle_hold NUMSYM NUMSYM
                         &thumb_mt LSHIFT SPACE
                         &thumb_mt RSHIFT RET
                         &num_lt NUMSYM RGUI
                         &tog FN
            >;
        };

        linux_layer {
            display-name = "Linux";

            bindings = <
&kp ESC    &kp Q         &kp W         &kp F                &kp P           &kp G
&kp J      &kp L         &kp U         &kp Y                &kp SQT         &kp BSPC

&kp TAB    &kp A         &mt LALT R    &mt LCTRL S          &lt LINUX_MEDIA T  &kp D
&kp H      &lt LINUX_MEDIA N
           &mt RCTRL E   &mt RALT I    &kp O                 &kp DEL

&kp LCTRL  &kp Z         &kp X         &kp C                &kp V           &kp B
&kp K      &kp M         &comma_hold_tap QMARK COMMA  &dot_hold_tap EXCL DOT
&kp FSLH   &kp SEMI

                              &kp LGUI
                              &numsym_toggle_hold NUMSYM NUMSYM
                              &thumb_mt LSHIFT SPACE
                              &thumb_mt RSHIFT RET
                              &num_lt NUMSYM RGUI
                              &tog FN
            >;
        };

        mac_layer {
            display-name = "Mac";

            bindings = <
&kp ESC    &kp Q         &kp W         &kp F          &kp P           &kp G
&kp J      &kp L         &kp U         &kp Y          &kp SQT         &kp BSPC

&kp TAB    &kp A         &mt LALT R    &mt LCTRL S    &lt MEDIA T     &kp D
&kp H      &lt MEDIA N   &mt RCTRL E   &mt RALT I     &kp O           &kp DEL

&kp LCTRL  &kp Z         &kp X         &kp C          &kp V           &kp B
&kp K      &kp M         &comma_hold_tap QMARK COMMA  &dot_hold_tap EXCL DOT
&kp FSLH   &kp SEMI

                         &kp LGUI
                         &numsym_toggle_hold NUMSYM NUMSYM
                         &thumb_mt LSHIFT SPACE
                         &thumb_mt RSHIFT RET
                         &num_lt NUMSYM RGUI
                         &tog FN
            >;
        };

        /*
         * NumSym programming layout. Outer-column utility keys stay transparent.
         *
         * Inner 30:
         * 1 2 3 4 5    6 7 8 9 0
         * # * ( { [    @ - + & ^
         * ~ ` ) } ]    ! % < > /
         *
         * - double-taps to _
         * ^ double-taps to $
         * ! double-taps to ?
         * Left outer thumb  = |
         * Right outer thumb = =
         * M + , on the base layers = \
         */
        numsym_layer {
            display-name = "NumSym";

            bindings = <
&trans  &kp N1                  &kp N2          &kp N3
        &kp N4                  &kp N5
        &kp N6                  &kp N7          &kp N8
        &kp N9                  &kp N0          &trans

&trans  &kp LS(NUMBER_3)        &kp ASTERISK    &kp LPAR
        &kp LBRC                &kp LBKT
        &kp AT               &under_dance    &kp PLUS
        &kp AMPS                  &dollar_dance   &trans

&trans  &kp TILDE               &kp GRAVE       &kp RIGHT_PARENTHESIS
        &kp RBRC                &kp RBKT
        &exclaim_dance          &kp PRCNT        &kp LS(COMMA)
        &kp LS(DOT)             &kp FSLH         &trans

                                &kp PIPE
                                &numsym_toggle_hold NUMSYM NUMSYM
                                &trans
                                &kp RET
                                &trans
                                &kp EQUAL
            >;
        };

        /* Navigation layer. Outer columns remain transparent. */
        media_layer {
            display-name = "Media";

            bindings = <
&trans  &trans  &trans  &trans     &trans  &trans
&kp DOWN  &kp RIGHT  &trans  &trans  &trans  &trans

&trans  &trans  &trans  &kp LCTRL  &trans  &trans
&kp LEFT  &trans  &trans  &trans  &trans  &trans

&trans  &trans  &trans  &trans     &trans  &trans
&kp UP  &trans  &trans  &trans  &trans  &trans

                        &tog FN
                        &numsym_toggle_hold NUMSYM NUMSYM
                        &thumb_mt LSHIFT SPACE
                        &trans
                        &trans
                        &tog FN
            >;
        };

        /* Linux navigation layer. Outer columns remain transparent. */
        linux_media_layer {
            display-name = "LxMedia";

            bindings = <
&trans  &trans  &trans  &trans     &trans  &trans
&kp DOWN  &kp RIGHT  &trans  &trans  &trans  &trans

&trans  &trans  &trans  &kp LCTRL  &trans  &trans
&kp LEFT  &trans  &trans  &trans  &trans  &trans

&trans  &trans  &trans  &trans     &trans  &trans
&kp UP  &trans  &trans  &trans  &trans  &trans

                        &tog FN
                        &numsym_toggle_hold NUMSYM NUMSYM
                        &mo LINUX_SUPER_NAV
                        &trans
                        &trans
                        &tog FN
            >;
        };

        /* Linux Super/Meta navigation layer. */
        linux_super_nav_layer {
            display-name = "LxSuper";

            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans
&super_down_dance  &super_right_dance  &trans  &trans  &trans  &trans

&trans  &trans  &trans  &trans  &trans  &trans
&super_left_dance  &trans  &trans  &trans  &trans  &trans

&trans  &trans  &trans  &trans  &trans  &trans
&super_up_dance  &trans  &trans  &trans  &trans  &trans

                     &tog FN
                     &numsym_toggle_hold NUMSYM NUMSYM
                     &trans
                     &trans
                     &trans
                     &tog FN
            >;
        };

        /* Function, Bluetooth, and mouse layer. */
        function_layer {
            display-name = "Function";

            bindings = <
&trans  &fn_bt_clear  &fn_f2       &fn_f5       &fn_f11        &fn_f12
&trans  &msc SCRL_UP  &mmv MOVE_UP &trans       &trans         &trans

&trans  &fn_bt_0      &fn_bt_1     &fn_bt_2     &fn_bt_3       &fn_bt_4
&trans  &mmv MOVE_LEFT  &mmv MOVE_DOWN  &mmv MOVE_RIGHT  &trans  &trans

&trans  &to WIN       &to LINUX    &to MAC      &trans         &trans
&trans  &msc SCRL_DOWN  &trans     &trans       &trans         &trans

                              &tog FN
                              &numsym_toggle_hold NUMSYM NUMSYM
                              &trans
                              &mkp LCLK
                              &mkp RCLK
                              &tog FN
            >;
        };
    };
};

/* Override ZMK's built-in home-row mod-tap behavior. */
&mt {
    flavor = "tap-preferred";
    tapping-term-ms = <175>;
    quick-tap-ms = <150>;
    require-prior-idle-ms = <125>;
};
