/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>

#define WIN              0
#define LINUX            1
#define MAC              2
#define NUMSYM           3
#define MEDIA            4
#define LINUX_MEDIA      5
#define LINUX_SUPER_NAV  6
#define QWERTY           7
#define FN               8

/ {
combos {
    compatible = "zmk,combos";

    /*
     * Editing combos, based on physical bottom-row positions:
     *
     * Z + X = Undo
     * X + C = Copy
     * C + V = Paste
     * V + B = Redo
     *
     * These positions remain physically consistent between
     * your Colemak-style and QWERTY layers.
     */

    /* Windows and Linux */

    ctrl_undo {
        timeout-ms = <40>;
        key-positions = <25 26>;
        bindings = <&kp LC(Z)>;
        layers = <WIN LINUX QWERTY>;
    };

    ctrl_copy {
        timeout-ms = <40>;
        key-positions = <26 27>;
        bindings = <&kp LC(C)>;
        layers = <WIN LINUX QWERTY>;
    };

    ctrl_paste {
        timeout-ms = <40>;
        key-positions = <27 28>;
        bindings = <&kp LC(V)>;
        layers = <WIN LINUX QWERTY>;
    };

    ctrl_redo {
        timeout-ms = <40>;
        key-positions = <28 29>;
        bindings = <&kp LC(LS(Z))>;
        layers = <WIN LINUX QWERTY>;
    };

    /* macOS */

    mac_undo {
        timeout-ms = <40>;
        key-positions = <25 26>;
        bindings = <&kp LG(Z)>;
        layers = <MAC>;
    };

    mac_copy {
        timeout-ms = <40>;
        key-positions = <26 27>;
        bindings = <&kp LG(C)>;
        layers = <MAC>;
    };

    mac_paste {
        timeout-ms = <40>;
        key-positions = <27 28>;
        bindings = <&kp LG(V)>;
        layers = <MAC>;
    };

    mac_redo {
        timeout-ms = <40>;
        key-positions = <28 29>;
        bindings = <&kp LG(LS(Z))>;
        layers = <MAC>;
    };
    /*
     * Top-right quote + backspace keys = Delete.
     *
     * Physical positions:
     * 10 = SQT / P
     * 11 = BSPC
     */
    delete_combo {
        timeout-ms = <45>;
        key-positions = <10 11>;
        bindings = <&kp DEL>;
        layers = <WIN LINUX MAC QWERTY>;
    };

arrow_up {
        timeout-ms = <40>;
        key-positions = <6 7>;
        bindings = <&kp UP>;
        layers = <WIN LINUX MAC>;
    };

    arrow_right {
        timeout-ms = <40>;
        key-positions = <7 8>;
        bindings = <&kp RIGHT>;
        layers = <WIN LINUX MAC>;
    };

    arrow_left {
        timeout-ms = <40>;
        key-positions = <18 19>;
        bindings = <&kp LEFT>;
        layers = <WIN LINUX MAC>;
    };

    arrow_down {
        timeout-ms = <40>;
        key-positions = <30 31>;
        bindings = <&kp DOWN>;
        layers = <WIN LINUX MAC>;
    };
    /*
     * Press both inner NumSym thumb keys to return to QWERTY.
     */
    to_qwerty {
        timeout-ms = <50>;
        key-positions = <38 39>;
        bindings = <&tog QWERTY>;
    };
};

behaviors {
    mt: mod_tap {
        flavor = "tap-preferred";
        tapping-term-ms = <175>;
        quick-tap-ms = <150>;
        require-prior-idle-ms = <125>;
    };

    thumb_mt: thumb_mod_tap {
        compatible = "zmk,behavior-hold-tap";
        label = "THUMB_MOD_TAP";
        #binding-cells = <2>;
        flavor = "tap-preferred";
        tapping-term-ms = <145>;
        quick-tap-ms = <100>;
        require-prior-idle-ms = <125>;
        bindings = <&kp>, <&kp>;
    };

    /*
     * Single tap  = /
     * Double tap  = \
     */
    slash_dance: slash_dance {
        compatible = "zmk,behavior-tap-dance";
        label = "SLASH_DANCE";
        #binding-cells = <0>;
        tapping-term-ms = <175>;
        bindings = <&kp FSLH>, <&kp BSLH>;
    };
};

    keymap {
        compatible = "zmk,keymap";

        win_layer {
            display-name = "Win";
            bindings = <
&mt LGUI ESC  &kp Q         &kp W       &kp F               &kp P    &kp G        &kp J    &kp L    &kp U                &kp Y       &kp SQT       &kp BSPC
&kp TAB       &kp A         &mt LALT R  &mt LCTRL S         &lt MEDIA T  &kp D     &kp H    &lt MEDIA N  &mt RCTRL E       &mt RALT I  &kp O         &kp SEMI
&kp LCTRL     &kp Z         &kp X       &kp C               &kp V    &kp B        &kp K    &kp M    &kp COMMA            &kp DOT     &kp FSLH      &kp EQUAL
                                        &mo FN              &mo NUMSYM  &thumb_mt LSHIFT SPACE    &thumb_mt LSHIFT RET  &mo NUMSYM  &mo FN
            >;
        };

        linux_layer {
            display-name = "Linux";
            bindings = <
&kp ESC       &kp Q         &kp W       &kp F                    &kp P    &kp G        &kp J    &kp L    &kp U                &kp Y       &kp SQT       &kp BSPC
&kp TAB       &kp A         &mt LALT R  &mt LCTRL S              &lt LINUX_MEDIA T  &kp D  &kp H    &lt MEDIA N  &mt RCTRL E       &mt RALT I  &kp O         &kp SEMI
&kp LCTRL     &kp Z         &kp X       &kp C                    &kp V    &kp B        &kp K    &kp M    &kp COMMA            &kp DOT     &kp FSLH      &kp EQUAL
                                        &kp LGUI                 &mo NUMSYM  &thumb_mt LSHIFT SPACE    &thumb_mt LSHIFT RET  &mo NUMSYM  &mo FN
            >;
        };

        mac_layer {
            display-name = "Mac";
            bindings = <
&mt LGUI ESC  &kp Q         &kp W       &kp F               &kp P    &kp G        &kp J    &kp L    &kp U                &kp Y       &kp SQT       &kp BSPC
&kp TAB       &kp A         &mt LALT R  &mt LCTRL S         &lt MEDIA T  &kp D     &kp H    &lt MEDIA N  &mt RCTRL E       &mt RALT I  &kp O         &kp SEMI
&kp LCTRL     &kp Z         &kp X       &kp C               &kp V    &kp B        &kp K    &kp M    &kp COMMA            &kp DOT     &kp FSLH      &kp EQUAL
                                        &mo FN              &mo NUMSYM  &thumb_mt LSHIFT SPACE    &thumb_mt LSHIFT RET  &mo NUMSYM  &mo FN
            >;
        };

        numsym_layer {
    display-name = "NumSym";
    bindings = <
/* Numbers */
&trans  &kp N1    &kp N2    &kp N3    &kp N4    &kp N5    &kp N6    &kp N7    &kp N8    &kp N9    &kp N0    &kp DEL

&trans  &kp LS(NUMBER_3)        &kp ASTERISK       &kp LPAR    &kp LBKT    &kp LBRC        &kp RBRC    &kp RBKT    &kp RIGHT_PARENTHESIS    &kp EXCL &kp CARET    &kp DLLR 

/* Other symbols */
&trans  &kp COMMA               &kp PERIOD         &kp TILDE    &kp MINUS      &kp AT        &kp EQUAL               &kp PRCNT          &kp UNDER
        &kp AMPS               &kp PIPE           &kp PLUS

                                &trans              &trans
                                &slash_dance        &trans
                                &trans              &trans
    >;
};

        media_layer {
            display-name = "Media";
            bindings = <
&trans  &trans  &trans  &trans            &trans  &trans              &kp DOWN  &kp RIGHT  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &kp LEFT_CONTROL  &trans  &trans              &kp LEFT  &trans     &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans            &trans  &trans              &kp UP    &trans     &trans  &trans  &trans  &trans
                        &trans            &trans  &thumb_mt LSHIFT SPACE    &trans    &trans     &trans
            >;
        };

        linux_media_layer {
            display-name = "LxMedia";
            bindings = <
&trans  &trans  &trans  &trans            &trans  &trans              &kp DOWN  &kp RIGHT  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &kp LEFT_CONTROL  &trans  &trans              &kp LEFT  &trans     &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans            &trans  &trans              &kp UP    &trans     &trans  &trans  &trans  &trans
                        &trans            &trans  &mo LINUX_SUPER_NAV &trans    &trans     &trans
            >;
        };

        linux_super_nav_layer {
            display-name = "LxSuper";
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans        &kp LG(DOWN)  &kp LG(RIGHT)  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans        &kp LG(LEFT)  &trans         &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans        &kp LG(UP)    &trans         &trans  &trans  &trans  &trans
                        &trans  &trans  &trans        &trans        &trans         &trans
            >;
        };

        qwerty_layer {
            display-name = "QWERTY";
            bindings = <
&kp ESC    &kp Q  &kp W  &kp E  &kp R  &kp T        &kp Y    &kp U  &kp I      &kp O    &kp P     &kp BSPC
&kp LSHFT  &kp A  &kp S  &kp D  &kp F  &kp G        &kp H    &kp J  &kp K      &kp L    &kp SEMI  &kp SQT
&kp LCTRL  &kp Z  &kp X  &kp C  &kp V  &kp B        &kp N    &kp M  &kp COMMA  &kp DOT  &kp FSLH  &kp TAB
                         &to WIN  &mo NUMSYM  &kp SPACE    &kp RET  &mo NUMSYM  &to WIN
            >;
        };

        function_layer {
            display-name = "Function";
            bindings = <
&kp F12     &kp F1        &kp F2        &kp F3        &kp F4        &kp F5          &kp F6    &kp F7    &kp F8   &kp F9   &kp F10  &kp F11
&bt BT_CLR  &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4    &trans   &trans   &trans  &trans  &trans  &trans
&trans      &to WIN       &to LINUX     &to MAC       &trans        &trans          &trans   &trans   &trans  &trans  &trans  &kp LA(LC(DEL))
                                        &trans        &trans        &trans          &trans   &trans   &trans
            >;
        };
    };
};
